.container {
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-content: center;
}

.page {
  width: 40px;
  font-family: "Roboto";
  font-size: 20px;
  margin-top: 15px;
  font-weight: 900;
}

.link {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: none;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 900;
}

.link:focus {
  color: black;
  outline: none;
}

.link:hover {
  cursor: pointer;
}
