@font-face {
  font-family: enter;
  src: url("./fonts/Franchise.ttf");
}

@font-face {
  font-family: pokemon;
  src: url("./fonts/Poke.ttf");
}

.App {
  text-align: center;
}

body {
  background: /*#ffe600; #90dbf9;*/ #f0b816;
}

.border {
  width: 70vw;
  height: 90vh;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  background-color: white;
  border-radius: 20px;
  box-shadow: 3px 3px 10px #2f3a55;
}

.pika {
  height: 370px;
  margin-top: -50px;
}
